@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400;500&family=Montserrat:wght@100;500;800&family=Playfair+Display:ital,wght@1,500;1,800&family=Rajdhani&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
 
:root{
    --linkText:#2C1810;
    --text : #f4c37b;
}

html,body{
    background-color: #f4c37b;
    overflow-x: hidden;
}


/*NAV-BAR-STYLES*/

.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.TitleLogo span{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
}
.Nav-links ul{
    display: flex;
    gap: 50px;
}
.Nav-links ul li a{
    color: var(--linkText);
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
}

.Nav-links ul li a:hover{
    animation: borderInc 0.5s;
    animation-fill-mode: forwards;
}

@keyframes borderInc {
    from{
        border-bottom: 0px;
    }to{
        color: white;
        border-bottom: 3px solid black;
    }
}

.user{
    color: var(--linkText);
}

.user:hover{
    color: white;
}


/*HOME-PAGE STYLES*/

.homeContainer{
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin: 100px 50px;
}
.homeSection1{
    display: flex;
}

.homeTextWrapper > pre{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
.homeTextWrapper{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.homeTextWrapper > p{
    font-family: 'Cedarville Cursive', cursive;
    line-height: 30px;
    word-spacing: 7px;
    font-size: 24px;
}

.section1Img{
    border-radius:35px;
    width: 700px;
    filter: grayscale(1);
}


.homeSection1:hover .section1Img{
    filter: grayscale(0);
}

.homeSection2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 140px 0px;
}

.hs2wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
}

.hs2imgWrapper{
    position: relative;
}

.booksPic{
    position: absolute;
    top:280px;
    left: -200px;
    width: 500px;
    height: 350px;
    object-fit: cover;
    z-index: 2;
    border-radius: 2px;
}
.readPic{
    position: absolute;
    bottom: -60px;
    width: 400px;
    height: 250px;
    object-fit: cover;
    right: -120px;
    z-index: 1;
    border-radius: 2px;
}
.quote1{
    font-size: 25px;
}

.aboutDescription {
    width: 500px;
    height:450px;
    background-color: black;
    color: var(--text);
    padding: 30px;
}
.aboutDescription h2{
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;
    border-bottom: 4px solid white;
}
.aboutDescription p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    word-spacing: 10px;
}


.exploreButton{
    width: 200px;
    background-color: transparent;
    padding: 20px;
    font-size:15px;
    height: 70px;
    transition: all 2s;
    transform-origin: left;
}

.exploreButton:hover{
   transform: scaleX(1.5);
}

.homeSection3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hs3imgWrapper{
    position: relative;
}
.homeSection3 pre{
    font-size: 25px;
}
.sec3Book{
    width: 1000px;
    height: 700px;
    filter: blur(8px);
}

.sec3Kindle{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(100%,100%);
}
.hs3TextWrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
}
.loginButton{
    width: 100px;
    background-color: transparent;
    font-size:15px;
    padding: 10px;
}

.loginButton:hover{
    animation: shake 2s;
    cursor: pointer;
}

@keyframes shake {
    0%{
        transform: skewY(0deg);
    }
    50%{
        transform: skewX(-30deg);
    }
    100%{
        transform: skewY(0deg);
    }
}

.homeSection4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.homeSection4 pre{
    font-size: 24px;
}
.contactButton{
    width: 100px;
    background-color: transparent;
    font-size:15px;
    padding: 5px 10px;
}

.contactButton:hover{
    cursor: pointer;
}



/*FOOTER-STYLES*/

.Footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.footerLinks ul{
    display: flex;
}
.footerLinks ul li a{
    color: white;
}
.footerLinks ul li a:hover{
    cursor: pointer;
    border-bottom:4px solid white ;
}
.footerLinks ul li{
    margin-left:30px;
}
.FooterLogo{
    margin: 20px;
    font-size: 30px;
    color: white;
}
.socialMedias ul{
    display: flex;
    justify-content: flex-start;
}
.socialMedias button{
    border-radius:50px;
    background-color: transparent;
    border: none;
}
.socialMedias i{
    padding: 10px;
    font-size: 40px;
    color: white;
}
.fa-instagram:hover{
    color: rgb(255, 63, 185);
}
.fa-twitter:hover{
    color: rgb(0, 119, 255);
}
.fa-github:hover{
    color: rgb(255, 0, 0);

}
.socialMedias ul li {
    margin-left:20px ;
}
.copyRight{
    color: white;
}

.contactContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contactForm{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 40px;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contactForm form label{
    margin-top: 30px;
}

.contactForm form input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.contactForm form textarea{
    width: 400px;
    height: 50px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.contactForm form button{
  width: 100px;
  background-color: black;
  font-family: cursive;
  color: white;
  outline: transparent;
  border: 5px solid white;
  border-radius: 20px;
  font-size: 15px;
  height: 40px;
}


.decoration{
  color: transparent;
  background-clip: text;
  background-image: url("../public/images/top.webp");
  background-position: 150px;
  font-size: 70px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen  and (max-width:960px){
    .allBooksList{
        height: 80%;
    }

}