.booksContainer {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 20px;
}
.booksSection1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.booksSection1 p {
  font-size: 24px;
}
.booksSection1 p:nth-child(1) {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.books {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.books img {
  filter: blur(3px);
  width: 250px;
  height: 300px;
  border-radius: 50px;
  object-fit: cover;
  -webkit-box-shadow: 10px 10px 17px 4px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 17px 4px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 17px 4px rgba(255, 255, 255, 1);
}

.books img:hover {
  animation: blur 1s;
  animation-fill-mode: forwards;
}

@keyframes blur {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0px);
  }
}

.allBooksContainer p:nth-child(1) {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-size: 34px;
  font-style: bold;
}
.allBooksList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pageButtons {
  display: flex;
  flex-direction: column;
}

.navigateButton {
  width: 100px;
  background-color: black;
  font-family: cursive;
  color: white;
  outline: transparent;
  border: 5px solid white;
  border-radius: 20px;
  font-size: 15px;
  height: 40px;
}
.navigateButton:hover {
  cursor: pointer;
}

.right {
  align-self: flex-end;
}

.BookCard {
  margin: 30px;
  width: 370px;
  height: 370px;
  background-color: black;
  padding: 30px 0px 20px 20px;
  border-radius: 20px;
  box-shadow: -15px 0px 18px rgb(0, 0, 0);
  border: 10px solid white;
  border-left: none;
}
.BookImg img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: burlywood;
}
/* SEARCH BAR STYLES*/

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 0px 0px 30px 0px;
}

.searchContainer > p:nth-child(1) {
  color: transparent;
  background-clip: text;
  background-image: url("../../public/images/top.webp");
  background-position: 150px;
  font-size: 70px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchWrapper p:nth-child(1) {
  font-size: 20px;
  font-family: monospace;
}
.searchWrapper p:nth-child(2) {
  font-family: "Courier New", Courier, monospace;
}

.searchContainer input {
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid white;
}
.searchContainer input:focus {
  outline: none;
}

.searchBookWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
